@use '../../assets/sass/variables' as *;
@use '../../assets/sass/mixin' as *;

.wrapper {
  min-width: 100px;
  min-height: 36px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: $primary-font;
  @include flex(center, center);

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}

// Button type

.primary,
.outline {
  &:hover {
    cursor: pointer;
  }
}

.primary {
  color: $white-color;
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background: linear-gradient(
        0deg,
        rgba($black-color, 0.06),
        rgba($black-color, 0.06)
      ),
      $primary-color;
    border-color: $primary-color;
  }
}

.outline {
  border-color: currentColor;

  &:hover {
    border-color: currentColor;
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.upload {
  min-width: 110px;
  color: $txt-color;
  border-color: rgba(22, 24, 35, 0.12);
  background-color: $white-color;

  &:hover {
    border-color: rgba(22, 24, 35, 0.12);
  }

  &.rounded:hover {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.rounded {
  border-radius: 52px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
}

// Button size
.small {
  font-size: 1.4rem;
  min-width: 88px;
  min-height: 28px;
}

.large {
  width: 100%;
  min-height: 48px;
}
