@use '../../assets/sass/variables' as *;

.menu {
  width: 223px;

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $white-color;
    position: absolute;
    top: -8px;
    right: 26px;
  }

  &__item {
    justify-content: flex-start;
    width: 100%;
    padding: 10px 16px;
    border-radius: 0;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 20px;
    color: $txt-color;

    &:hover {
      background-color: rgba($txt-color, 0.03);
    }

    &.separate {
      border-top: 1px solid rgba($txt-color, 0.12);
    }
  }
}

.menu-wrapper {
  padding-bottom: 8px;
}

.menu-header {
  flex-shrink: 0;
  position: relative;
  height: 50px;
  margin-top: -8px;

  &__back {
    width: 48px;
    height: 100%;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
  }
}

.menu-content {
  overflow-y: auto;
}
