@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

$primary-font: 'IBM Plex Sans', sans-serif;
$primary-color: #fe2c55;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
