@use '../../assets/sass/variables' as *;
@use '../../assets/sass/mixin' as *;

.search,
.search-result {
  width: $search-width;
}

.search {
  height: 46px;
  background-color: $light-grey-color;
  border: 1.5px solid transparent;
  border-radius: 92px;
  padding: 12px 0 12px 16px;
  display: flex;
  align-items: center;
  position: relative;

  &::after {
    content: '';
    width: 1px;
    height: 28px;
    background-color: rgba(22, 24, 35, 0.12);
    position: absolute;
    top: 50%;
    right: $search-button-width;
    transform: translateY(-50%);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }

  input {
    flex: 1;
    width: calc(100% - 24px - 22px);
    font-size: 1.6rem;
    font-family: $primary-font;
    font-weight: 400;
    line-height: 22px;
    color: $dark-grey-color;
    background-color: transparent;
    caret-color: $primary-color;

    &:not(:placeholder-shown) ~ .search__button {
      color: rgba($txt-color, 0.75);
    }
  }

  &__clear,
  &__loading {
    position: absolute;
    right: calc($search-button-width + 12px);
    color: rgba($txt-color, 0.34);
  }

  &__loading {
    animation: spinner 1s linear infinite;
  }

  @keyframes spinner {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &__button {
    width: $search-button-width;
    height: inherit;
    @include flex(center, center);
    border-top: inherit;
    border-bottom: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    color: rgba($txt-color, 0.34);

    &:hover {
      background-color: rgba($txt-color, 0.03);
      cursor: pointer;
    }

    &:active {
      background-color: rgba($txt-color, 0.06);
    }

    svg {
      width: 22px;
      height: 22px;
    }
  }

  &-result__title {
    font-size: 1.4rem;
    color: rgba($txt-color, 0.5);
    padding: 5px 12px;
  }
}
