@use '../../../assets/sass/variables' as *;

.menu-item {
  display: flex;
  align-items: center;
  gap: 0 8px;
  padding: 8px;
  margin-left: -20px;
  border-radius: 4px;
  font-size: 1.8rem;
  font-weight: 700;
  transition: background-color ease-in-out 200ms;

  &.active {
    color: $primary-color;

    .icon {
      display: none;
    }

    .active-icon {
      display: block;
    }
  }

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.active-icon {
  display: none;
}
