@use '../../../../sass/variables' as *;

.wrapper {
  height: $default-layout-header-height;
  width: 100%;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.content {
  height: 100%;
  width: $default-layout-width;
}
