$primary-font: 'IBM Plex Sans', sans-serif;

$primary-color: #fe2c55;
$light-grey-color: #f1f1f2;
$dark-grey-color: #606060;
$black-color: #000;
$white-color: #fff;
$search-button-color: rgb(22, 24, 35);
$txt-color: #161823;
$check-color: #20d5ec;

$default-layout-header-height: 60px;
$default-layout-width: 1150px;
$search-width: 361px;
$search-button-width: 52px;
